[project]
	description = Exherbo Remote Ids Client
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/anderslm
[access "refs/for/refs/*"]
	read = group user/anderslm
	push = group user/anderslm
	label-Code-Review = -2..+2 group user/anderslm
	label-Verified = -1..+1 group user/anderslm
	rebase = group user/anderslm
	removeReviewer = group user/anderslm
	submit = group user/anderslm
[access "refs/heads/*"]
	read = group user/anderslm
	create = group user/anderslm
	push = +force group user/anderslm
	pushMerge = group user/anderslm
[access "refs/tags/*"]
	push = +force group user/anderslm
	pushTag = group user/anderslm
	pushSignedTag = group user/anderslm
